:root {
    --dark: black;
    --light: white;
    --ft-light: grey;
    --ft-dark: lightgrey;
}

body, footer {
    transition: 1s;
}

footer {
    position: fixed;
	bottom: 0;
    font-size: 15px;
    color: var(--ft-light);
}

body {
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--light);
    color: var(--dark);
}

button {
    cursor: pointer;
    padding: .25em .25em;
    margin-right: .5em;
    margin-left: .5em;
    transition: .25s;
}
button:hover {
    transform: scale(1.1);
}
/* Creating bigger buttons on smaller screens 
 Disabling hover effect since using touch screen doesn't auto lose focus*/
@media screen and (min-width: 600) {
    button, button:hover {
        width: 200px; height: 50px; 
        transform: scale(1) !important;
    }      
  }
@media screen and (max-width: 1400px) {
    button, button:hover {
        width: 200px; height: 60px;  
        transform: scale(1) !important;
    }
}

.dark-mode {
    --dark: white;
    --light: black;
    --ft-light: lightgrey;
    --ft-dark: grey;
}

.container {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; 
    align-items: center;     
    align-content: center;
    height: 80vh;
}

.box {
    margin: 5px;
    text-align: center;     
}

.timer-text {  
    font-size: 10em;
}

.top {
    display: flex; 
    justify-content: space-between;
}