:root {
    --dark: black;
    --light: white;
    --ft-light: grey;
    --ft-dark: lightgrey;
}

footer {
    position: fixed;
	bottom: 0;
    font-size: 15px;
    color: var(--ft-light);
}

body {
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--light);
    color: var(--dark);
}

.dark-mode {
    --dark: white;
    --light: black;
    --ft-light: lightgrey;
    --ft-dark: grey;
}

.container {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; 
    align-items: center;     
    align-content: center;
    height: 80vh;
}

.box {
    margin: 5px;
    text-align: center;     
}
/* TODO: have it be responsive to device screen size*/
.timer-text {  
    font-size: 10em;
}